@import url(poole.css);
@import url(syntax.css);
@import url(hyde.css);
html {
  font-family: Lora,Times New Roman,Georgia,Droid Serif,DejaVu Serif,serif; }

code, pre {
  font-family: Roboto Mono,Menlo,Monaco,Consolas,Courier New,monospace; }

.sidebar-avatar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .sidebar-avatar__image {
    border: 3px solid #f0f0f0;
    border-radius: 50%;
    width: 50%; }

.post-title {
  line-height: 2.2rem; }
.post-lead {
  font-size: 1.1rem; }
